/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    background-color: #fefcf9;
    max-width: 1024px;
    min-height: 100px;
    margin-inline: auto;
    padding: 32px 64px;
}

.font-weight-light {
    font-weight: 300;
}
