@gup-ds:registry=https://develop.omangup.me/nexus/repository/gup-npm-repo/
//develop.omangup.me/nexus/repository/gup-npm-repo/:_auth=bW9oZXJpOm1vaGVyaV9jaGFuZ2VtZQ==
registry=https://registry.npmjs.org